<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.3" targetFramework="net45" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net45" />
  <package id="MathNet.Numerics.FSharp" version="4.7.0" targetFramework="net45" />
  <package id="MathNet.Symbolics" version="0.20.0" targetFramework="net45" />
  <package id="OPTANO.Modeling" version="2.14.0.426-pre" targetFramework="net45" />
</packages>