<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="optimization" type="OPTANO.Modeling.Optimization.Configuration.OptimizationConfigSection, optano.modeling" />
  </configSections>
  <optimization xmlns="net.optano.modeling.optimization">
    <!--xmodel behavior="auto" /-->
    <solvers>
      <solver name="Cplex" path="..\..\..\..\Tools\CPLEX\x64" />
      <solver name="Gurobi" path="C:\Program Files (x86)\gurobi650\win64\bin" />
    </solvers>
  </optimization>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gurobi65.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.2.0" newVersion="6.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>