<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.3" targetFramework="net45" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net45" />
  <package id="MathNet.Numerics.FSharp" version="4.5.1" targetFramework="net45" />
  <package id="MathNet.Symbolics" version="0.18.1" targetFramework="net45" />
  <package id="OPTANO.Modeling" version="2.12.0.415" targetFramework="net45" />
</packages>