<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.3" targetFramework="net45" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net45" requireReinstallation="true" />
  <package id="MathNet.Numerics.FSharp" version="4.7.0" targetFramework="net45" />
  <package id="MathNet.Symbolics" version="0.20.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.Z3.x64" version="4.8.4" targetFramework="net462" />
  <package id="OPTANO.Modeling" version="3.0.1.451" targetFramework="net462" />
</packages>